# Default ignored files
/shelf/
/workspace.xml
/MissionchiefBotLauncher/bot/
/MissionchiefBotLauncher/build/
/MissionchiefBotLauncher/dist/
/MissionchiefBotLauncher/icons/
/MissionchiefBotLauncher/vandf/
/MissionchiefBotLauncher/venv/




